<ul>
  <div>Topic List</div>
</ul>
<script>
  window.getRoomName = function() {
    return document.querySelector("[phx-value-room_name]").value
  }
</script>
<div>
  <.form for={@form} phx-change="validate" phx-submit="create">
    <.input type="text" field={@form[:room_name]}/>
    <.button>Create Room</.button>
  </.form>
</div>
